<%- include('./components/wrapper') %>

      <p class="text-gray-400">Email/Username: <code class="text-white"><%= user.emails[0].value %></code></p>
      <p class="text-gray-400">Password: <code class="text-white"><%= password %></code></p>

        <div class="inline-flex flex rounded-md shadow-sm mt-4" role="group">
          <a href="../reset" type="button" class="transition px-4 py-2 text-sm font-medium text-white bg-blue-500 border border-blue-500 rounded-l-lg hover:bg-blue-600 hover:text-white focus:z-10 focus:ring-2 focus:ring-blue-600 focus:text-white">
            Reset password
          </a >
          <a href="../panel" type="button" class="transition px-4 py-2 text-sm font-medium text-white bg-gray-700/75 border rounded-r-lg border-gray-700/50 hover:bg-gray-700/50 hover:text-white focus:z-10 focus:ring-2 focus:ring-blue-600 focus:text-white">
            Panel
          </a>
        </div>
  
            <!-- /End replace -->
          </div>
        </div>
      </main>
    </div>
  </div>
  
  <%- include('./components/footer') %>